<div class="page-header">
  <h3>Platform #<%= @platform.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @platform.name %></dd>

      <dt>Embed link</dt>
      <dd><%= @platform.embed_link %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/platforms" class="btn btn-primary">
        Back
      </a>
      <a href="/platforms/<%= @platform.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_platform/<%= @platform.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Platform has many videos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Videos
      </li>

      <% @platform.videos.each do |video| %>
        <li class="list-group-item">
          <a href="/videos/<%= video.id %>">
            <%= video.caption %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/videos/<%= video.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/videos/<%= video.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_video/<%= video.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_video" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for caption -->
      <div class="form-group">
        <label for="caption" class="control-label">
          Caption
        </label>

        <input type="text" id="caption" name="caption" placeholder="Caption" class="form-control" value="">
      </div>

      <!-- Label and input for videolink -->
      <div class="form-group">
        <label for="videolink" class="control-label">
          Videolink
        </label>

        <input type="text" id="videolink" name="videolink" placeholder="Videolink" class="form-control" value="">
      </div>

      <!-- Label and input for starttime -->
      <div class="form-group">
        <label for="starttime" class="control-label">
          Starttime
        </label>

        <input type="text" id="starttime" name="starttime" placeholder="Starttime" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for platform_id -->
      <input type="hidden" name="platform_id" value="<%= @platform.id %>">

      <button class="btn btn-block btn-success">
        Create Video
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
