<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Username</dt>
      <dd><%= @user.username %></dd>

    </dl>
    
    <% if current_user != nil && current_user.username == 'admin' %>
      <div class="btn-group btn-group-justified">
        <a href="/users" class="btn btn-primary">
          Back
        </a>
      </div>
    <% end %>
    
  </div>
</div>

<!-- A User has many videos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Videos
      </li>

      <% @user.videos.each do |video| %>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
        
              <div class="panel-body" align="center">
                <iframe width="666" height="360" src="<%= video.platform.embed_link %>/<%= video.videolink %>?start=<%= video.starttime %>" frameborder="0" allowfullscreen></iframe>
        
                <div class="media-body">
                  <b><%= video.caption %> at <%= Time.at(video.starttime).utc.strftime("%H:%M:%S") %></b>
                </div>
        
                <div class="btn-group btn-group-justified">
                  <a href="/videos" class="btn btn-primary">
                    <i class="fa fa-chevron-left"></i>
                  </a>
                  <% if current_user.id == video.user_id %>
          
                      <a href="/videos/<%= video.id %>/edit" class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a href="/delete_video/<%= video.id %>" class="btn btn-danger" rel="nofollow">
                        <i class="fa fa-trash-o"></i>
                      </a>
                          
                  <% end %>  
                </div>
        
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @user.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.body %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == comment.user %>
              <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags
      </li>

      <% @user.tags.each do |tag| %>
        <li class="list-group-item">
          <a href="/tags/<%= tag.id %>">
            <%= tag.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tags/<%= tag.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == tag.user %>
              <a href="/tags/<%= tag.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_tag/<%= tag.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>