<!-- Validation failure messages -->
<% if @video.errors.any? %>
  <% @video.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Link New Video</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_video" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for caption -->
      <div class="form-group">
        <label for="caption" class="control-label">
          Caption
        </label>

        <input type="text" id="caption" name="caption" placeholder="Caption" class="form-control" value="<%= @video.caption %>">
      </div>

      <!-- Label and input for videolink -->
      <div class="form-group">
        <label for="videolink" class="control-label">
          Video Link
        </label>

        <input type="text" id="videolink" name="videolink" placeholder="Videolink" class="form-control"
          value="<% if @video.errors.any? %>https://www.youtube.com/watch?v=<% end %><%= @video.videolink %>">
      </div>

      <!-- Label and input for starttime -->
      <div class="form-group">
        <label for="starttime" class="control-label">
          Start Time
        </label>

        <!--<input type="text" id="starttime" name="starttime" placeholder="Starttime" class="form-control" value="<%= @video.starttime %>">-->

        <table>
          <tr>
            <td>
              <%= select_tag(:videohour, options_for_select(0..24, @videohour), :class => "form-control") %> 
            </td>
            <td>hour(s)</td>
            <td>
              <%= select_tag(:videomin, options_for_select(0..60, @videomin), :class => "form-control") %> 
            </td>
            <td>minute(s)</td>
            <td>
              <%= select_tag(:videosec, options_for_select(0..60, @videosec), :class => "form-control") %>
            </td>
            <td>
              second(s)
            </td>
          </tr>
        </table>
    
      <% @video.starttime = @videohour.to_i + @videomin.to_i + @videosec.to_i %>

      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for platform_id -->
      <div class="form-group">
        <label for="platform_id" class="control-label">
          Platform
        </label>

        <%= select_tag(:platform_id, options_from_collection_for_select(Platform.all, :id, :name, @video.platform_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Video
      </button>
      or
      <a href="/videos">Cancel</a>
    </form>
  </div>
</div>
