<div class="page-header">
  <h3>Video #<%= @video.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Caption</dt>
      <dd><%= @video.caption %></dd>

      <dt>Videolink</dt>
      <dd><%= @video.videolink %></dd>

      <dt>Starttime</dt>
      <dd><%= @video.starttime %></dd>

      <dt>User</dt>
      <dd><%= @video.user_id %></dd>

      <dt>Platform</dt>
      <dd><%= @video.platform_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/videos" class="btn btn-primary">
        Back
      </a>
      <a href="/videos/<%= @video.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_video/<%= @video.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
